<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
        <meta charset="UTF-8">
        <title>NYSL</title>
        <link rel="shortcut icon" sizes="128x128" href="img/nysl_logo.png">
        <link rel="shortcut icon" sizes="196x196" href="img/nysl_logo.png">
        <link rel="apple-touch-icon" href="img/nysl_logo.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/nysl_logo.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/nysl_logo.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/nysl_logo.png">
        <meta name="apple-mobile-web-app-title" content="NYSL">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="css/main.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <!--Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!-----Google Font-------->
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid" id="app">
            <!--------------------------------------------navbar---------------------------------------------------------->
            <header>
                <div id="page-0">
                    <nav class="navbar navbar-expand-lg mt-n1 px-4">
                        <span class="navbar-brand">NYSL</span>
                        <button onclick="showIcon('#off')" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-toggle-off" id="off"></i>
                            <i class="fas fa-toggle-on" id="on"></i>
                        </button>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item px-4">
                                <a class="nav-link" href="#page-1" onclick="showPage('#page-1')">Home</a>
                                </li>
                                <li class="nav-item px-4">
                                <a class="nav-link" href="#page-2" onclick="showPage('#page-2')">About NYSL</a>
                                </li>
                                <li class="nav-item px-4">
                                <a class="nav-link" href="#page-3" onclick="showPage('#page-3')">Game Schedules</a>
                                </li>
                                <li class="nav-item px-4">
                                <a class="nav-link" href="#page-4" onclick="showPage('#page-4')">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <nav class="navbar navbar-expand-lg" v-if="userLogged != null" id="navbar">
                        <a class="navbar-brand" href="#">
                          <img v-if="userLogged.emailVerified == true" v-bind:src="userLogged.photoURL" style="border-radius: 50%;" width="30" height="30" alt="userPhoto" loading="lazy">
                          <div v-if="userLogged.emailVerified == false" width="30" height="30" alt="userPhoto"><i class="fas fa-user-circle"></i></div>
                        </a>
                    </nav>
                </div>
            </header>
            <!--------------------------------------------navbar---------------------------------------------------------->
            
            <!--------------------------------------------social media section---------------------------------------------------------->
            <section>
                <div id="sidebar">
                    <ul>    
                        <li><a class="fab fa-facebook" href="#"></a></li>
                        <li><a class="fab fa-twitter" href="#"></a></li>
                        <li><a class="fab fa-instagram" href="#"></a></li>
                        <li><a class="fab fa-youtube" href="#"></a></li>
                    </ul>
                </div>
            </section>
            <!--------------------------------------------social media section---------------------------------------------------------->
            <!--------------------------------------------Page 1---------------------------------------------------------->
            <div class="main-container">
                <div class="row page pl-4" id="page-1">
                    <div class="col-12 mt-5 ml-3">
                        <h1>Upcoming Events</h1>
                    </div>
                    <div class="col-sm-12 col-lg-3 mt-4 ml-3" class="card">
                        <div class="card-body">
                            <img src="img/8.jpg" class="card-img-top" alt="img">
                            <h2 class="card-title mt-2">August 4</h2>
                            <p class="card-text">Fundraiser</p>
                            <a href="#" id="button" class="btn btn-success mt-5">See more <i class="fas fa-calendar-alt"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 ml-3 mt-4" class="card">
                        <div class="card-body">
                            <img src="img/9.jpg" class="card-img-top" alt="img">
                            <h2 class="card-title mt-2">August 16</h2>
                            <p class="card-text">Season Kick-off: Meet the Teams</p>
                            <a href="#" id="button" class="btn btn-success mt-5">See more <i class="fas fa-calendar-alt"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 ml-3 mt-4" class="card">
                        <div class="card-body">
                            <img src="img/7.jpg" class="card-img-top" alt="img">
                            <h2 class="card-title mt-2">September 1 </h2>
                            <p class="card-text">First Game of the Season</p>
                            <a href="#" id="button" class="btn btn-success mt-2">See more <i class="fas fa-calendar-alt"></i></a>
                        </div>
                    </div>    
                </div>

                <div id="page1-1" id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/8.jpg" class="d-block w-100" alt="img">
                        <div class="carousel-caption d-block">
                        <h1>August 4</h1>
                        <p>Fundraiser</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/9.jpg" class="d-block w-100" alt="img">
                        <div class="carousel-caption d-block">
                        <h1>August 16</h1>
                        <p>Season Kick-off: Meet the Teams</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/7.jpg" class="d-block w-100" alt="img">
                        <div class="carousel-caption d-block">
                        <h1>September 1</h1>
                        <p>First Game of the Season</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/10.jpg" class="d-block w-100" alt="img">
                        <div class="carousel-caption d-block">
                        <h1>September 21</h1>
                        <p>Second Game of the Season</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/11.jpg" class="d-block w-100" alt="img">
                        <div class="carousel-caption d-block">
                        <h1>October 12</h1>
                        <p>North Elementary vs. South Elementary</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/12.jpg" class="d-block w-100" alt="img">
                        <div class="carousel-caption d-block">
                        <h1>September 28</h1>
                        <p>Howard a Yeager vs. Greenbay</p>
                        </div>
                    </div>
                    </div>
                </div>
        
                <!--------------------------------------------Page 1---------------------------------------------------------->
                <!--------------------------------------------Page 2---------------------------------------------------------->
                <div class="row page pl-4" id="page-2">
                    <div class="d-none d-md-inline col-md-2 mt-5 ml-5">
                        <img src="img/nysl_logo.png" class="card-img" alt="logo">
                    </div>
                    <div class="col col-md-8 mt-n5">
                        <div class="card-body mt-5" id="cardbody">
                            <h1 class="mb-5">About NYSL</h1>
                            <h2>Mission</h2>
                            <p class="card-text">To support young athletes living in Chicago's northside neighborhoods, who have an interest in learning and playing soccer, 
                            with opportunities to learn and practice skills related to the game of soccer, specifically those skills around team 
                            cooperation and good sportsmanship.</p>
                            <h2 class="card-title">Vision</h2>
                            <p>The Northside Youth Soccer League aspires to develop strong, well-rounded and tindful athletes through the
                                building of character, self-discipline, and leadership.</p>
                            <h2>General Information</h2>
                            <p>The Northside Youth Soccer League was established in 1996 to provide athletes residing Chicago's northside
                                neighborhoods an environment n which to learn and play soccer. To be a member of NYSL, you rmst be between
                                the ages of 4 - 12 and reside a Chicago northside </p>
                        </div>
                    </div>
                </div>
                <!--------------------------------------------Page 2---------------------------------------------------------->
                <!--------------------------------------------Page 3---------------------------------------------------------->
                <div class="row page mt-5" id="page-3">
                    <div class="col-12 mt-5 mb-5 ml-5">
                        <h1>NYSL Game Information</h1>
                            <p>Fall Schedule</p>
                            <p>*All games take place on Saturday.</p>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-10 col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="bg-success">
                                            <tr>
                                                <th scope="col">Sept</th>
                                                <th scope="col">Teams</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">09/01</th>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(1,userLogged.uid)">U1 and U4</td>
                                                <td><a href="https://www.google.com/maps/place/Katzenmaier+School/@42.325868,-87.862801,12z/data=!4m5!3m4!1s0x0:0xcf2bbe275c6da815!8m2!3d42.3258681!4d-87.8628015?hl=es-419">Katzenmaier</a></td>
                                                <td>9:30 a.m</td>
                                            <tr>
                                                <td></td>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(2,userLogged.uid)">U3 and U2</td>
                                                <td><a href="https://www.google.com/maps/place/Greenbay+Elementary/@41.913865,-87.637833,14z/data=!4m5!3m4!1s0x0:0xb351205fae50c6f3!8m2!3d41.9138647!4d-87.6378335?hl=es-419">Greenbay</a></td>
                                                <td>1:00 p.m</td>
                                                </tr>
                                            </tr>
                                            <tr>
                                                <th scope="row">09/08</th>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(3,userLogged.uid)">U5 and U6</td>
                                                <td><a href="https://www.google.com/maps?ll=42.315438,-87.853881&z=12&t=m&hl=es-419&gl=AR&mapclient=embed&cid=10039080323586619162">Howard A Yeager</a></td>
                                                <td>9:30 a.m</td>
                                                <tr>
                                                    <td></td>
                                                    <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(4,userLogged.uid)">U6 and U1</td>
                                                    <td><a href="https://www.google.com/maps/place/Marjorie+P+Hart+Elementary/@41.929623,-87.645973,14z/data=!4m5!3m4!1s0x0:0xdbff5d5dfcfcfa35!8m2!3d41.9296229!4d-87.6459727?hl=es-419">Marjorie P Heart</a></td>
                                                    <td>1:00 p.m</td>
                                                </tr>
                                            </tr>
                                            <tr>
                                                <th scope="row">09/15</th>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(5,userLogged.uid)">U2 and U4</td>
                                                <td><a href="https://www.google.com/maps?ll=41.907145,-87.646123&z=14&t=m&hl=es-419&gl=AR&mapclient=embed&cid=6284463419999939682">North Elementary</a></td>
                                                <td>9:30 a.m</td>
                                            <tr>
                                                <td></td>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(6,userLogged.uid)">U3 and U5</td>
                                                <td><a href="https://www.google.com/maps/place/Katzenmaier+School/@42.325868,-87.862801,12z/data=!4m5!3m4!1s0x0:0xcf2bbe275c6da815!8m2!3d42.3258681!4d-87.8628015?hl=es-419">Katzenmaier</a></td>
                                                <td>1:00 p.m</td>
                                            </tr>
                                            </tr>
                                            <tr>
                                                <th scope="row">09/22</th>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(7,userLogged.uid)">U2 and U3</td>
                                                <td><a href="https://www.google.com/maps?ll=42.317067,-87.854593&z=14&t=m&hl=es-419&gl=AR&mapclient=embed&cid=10153522112144064193">South Elementary</td></td>
                                                <td>9:30 a.m</td>
                                            <tr>
                                                <td></td>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(8,userLogged.uid)">U2 and U6</td>
                                                <td><a href="https://www.google.com/maps?ll=42.315438,-87.853881&z=12&t=m&hl=es-419&gl=AR&mapclient=embed&cid=10039080323586619162">Howard A Yeager</a></td>
                                                <td>1:00 p.m</td>
                                            </tr> 
                                            </tr>
                                            <tr>
                                                <th>09/29</th>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(9,userLogged.uid)">U4 and U5</td>
                                                <td><a href="https://www.google.com/maps/place/Greenbay+Elementary/@41.913865,-87.637833,14z/data=!4m5!3m4!1s0x0:0xb351205fae50c6f3!8m2!3d41.9138647!4d-87.6378335?hl=es-419">Greenbay</a></td>
                                                <td>9:30 a.m</td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> 

                            <div class="col-sm-10 col-md-6">   
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="bg-success">
                                            <tr>
                                                <th scope="col">Oct</th>
                                                <th scope="col">Teams</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">10/06</th>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(10,userLogged.uid)">U2 and U5</td>
                                                <td><a href="https://www.google.com/maps/place/Marjorie+P+Hart+Elementary/@41.929623,-87.645973,14z/data=!4m5!3m4!1s0x0:0xdbff5d5dfcfcfa35!8m2!3d41.9296229!4d-87.6459727?hl=es-419">Marjorie P Heart</a></td>
                                                <td>9:30 a.m</td>
                                            <tr>
                                                <td></td>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(11,userLogged.uid)">U1 and U6</td>
                                                <td><a href="https://www.google.com/maps?ll=42.317067,-87.854593&z=14&t=m&hl=es-419&gl=AR&mapclient=embed&cid=10153522112144064193">South Elementary</a></td>
                                                <td>1:00 p.m</td>
                                            </tr>
                                            </tr>
                                            <tr>
                                                <th scope="row">10/08</th>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(12,userLogged.uid)">U3 and U4</td>
                                                <td><a href="https://www.google.com/maps?ll=42.315438,-87.853881&z=12&t=m&hl=es-419&gl=AR&mapclient=embed&cid=10039080323586619162">Howard A Yeager</a></td>
                                                <td>9:30 a.m</td>
                                                <tr>
                                                    <td></td>
                                                    <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(13,userLogged.uid)">U5 and U1</td>
                                                    <td><a href="https://www.google.com/maps/place/Greenbay+Elementary/@41.913865,-87.637833,14z/data=!4m5!3m4!1s0x0:0xb351205fae50c6f3!8m2!3d41.9138647!4d-87.6378335?hl=es-419">Greenbay</a></td>
                                                    <td>1:00 p.m</td>
                                                </tr>
                                            </tr>
                                            <tr>
                                                <th scope="row">10/20</th>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(14,userLogged.uid)">U6 and U3</td>
                                                <td><a href="https://www.google.com/maps?ll=41.907145,-87.646123&z=14&t=m&hl=es-419&gl=AR&mapclient=embed&cid=6284463419999939682">North Elementary</a></td>
                                                <td>9:30 a.m</td>
                                                <tr>
                                                    <td></td>
                                                    <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(15,userLogged.uid)">U2 and U4</td>
                                                    <td><a href="https://www.google.com/maps/place/Marjorie+P+Hart+Elementary/@41.929623,-87.645973,14z/data=!4m5!3m4!1s0x0:0xdbff5d5dfcfcfa35!8m2!3d41.9296229!4d-87.6459727?hl=es-419">Marjorie P Heart</a></td>
                                                    <td>1:00 p.m</td>
                                                </tr>
                                            </tr>
                                            <tr>
                                                <th scope="row">10/27</th>
                                                <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(16,userLogged.uid)">U3 and U1</td>
                                                <td><a href="https://www.google.com/maps/place/Katzenmaier+School/@42.325868,-87.862801,12z/data=!4m5!3m4!1s0x0:0xcf2bbe275c6da815!8m2!3d42.3258681!4d-87.8628015?hl=es-419">Katzenmaier</a></td>
                                                <td>9:30 a.m</td>
                                                <tr>
                                                    <td></td>
                                                    <td onclick="modalWarning('#modal-warning')" v-on:click="selectGame(17,userLogged.uid)">U5 and U6</td>
                                                    <td><a href="https://www.google.com/maps?ll=42.315438,-87.853881&z=12&t=m&hl=es-419&gl=AR&mapclient=embed&cid=10039080323586619162">Howard A Yeager</a></td>
                                                    <td>1:00 p.m</td>
                                                </tr> 
                                                <tr>
                                                    <th></th>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12 ml-5 pr-5 mt-3" id="table-text">
                                <p> Facility Type: Outdoor</p>
                                <p>Additional Information: If deemed necessary by NYSL, games may be shortened or cancelled due to extreme weather conditions.</p>
                                <p><i class="far fa-user"></i> Please direct all questions to: Michael Randall, League Coordinator.</p>
                                <p><i class="fas fa-phone"></i> Phone: (630) 690-8132</p>
                                <p><i class="far fa-envelope"></i>  Email: <a id="mail" href="mailto:michael.randall@chisoccer.org"><strong>michael.randall@chisoccer.org</strong></a></p>  
                            </div>    
                        </div>                
                    </div>
                </div>
           
               <!--------------------------------------------Page 3---------------------------------------------------------->

               <!---------------------------------------User already logged (modal) in computer viewport---------------------------------------------------------->                                    
                
                    <div class="row page" id="modal" v-if="userLogged != null" style="display: none;">
                        <div class="col-sm-12 col-md-3 popUp">
                            <!-- <div class="signOut2" onclick="signOut2('#modal-sign-out2')"><i class="fas fa-sign-out-alt"></i></div> -->
                            <i class="fas fa-user-circle" id="Icon"></i>
                            <img alt="userPhoto" id="photo" v-bind:src="userLogged.photoURL">
                            <div class="Email popUp-text1"><p>Hi, {{userLogged.email}}</p></div>
                            <div class="userGoogle popUp-text1"><p>Hi, {{userLogged.displayName}}</p></div>
                            <button class="popUp-text2" onclick="homePosts('#popUp1')"><p><i class="fas fa-home"></i> Home</p></button>
                            <button class="popUp-text3" onclick="myPosts('#popUp1')" ><p><i class="far fa-eye"></i> See my posts</p>
                            <button class="popUp-text4" onclick="writePost('#popUp1')"><p><i class="fas fa-edit"></i> Write a post</p>
                            <button class="popUp-text4" onclick="showPage('#page-3')"><p><i class="far fa-calendar-alt"></i> Games Schedules</p>
                            <button class="popUp-text5" class="signOut2" onclick="signOut2('#modal-sign-out2')"><p><i class="fas fa-sign-out-alt"></i>Sign out</p>
                        </div>

                        <!----------------When user writes a post-------------------------> 
                        <div class="col-sm-12 col-md-9" id="popUp1" v-if="userLogged != null">
                            <div class="row" id="write-post">
                                <div class="col-12">
                                    <h3>New post</h3>
                                    <form>
                                        <input class="form-control form-control-lg" name="postTitle" type="text" placeholder="Post title" v-model:value="postTitle">
                                        <input class="form-control form-control-lg" name="postTitle" type="text" placeholder="Post message" v-model:value="postMessage">
                                        <button type="button" class="btn btn addPost" onclick="this.blur();" v-on:click="post">Send</button>
                                    </form>
                                </div>
                            </div>

                            <!----------------Timeline of posts-------------------------> 
                            <div class="row" id="home-posts">
                                <div class="col-12 post" v-for="post in posts">
                                    <h4>{{post.postTitle}}</h4>
                                    <div class="text-center mt-4 mb-3"><i v-if="post.authorPic == null" class="fas fa-user-circle" id="home-posts-icon"></i></div>
                                    <div class="text-center mt-4 mb-3"><img v-if="post.authorPic != null" v-bind:src="post.authorPic" id="home-posts-photo"></div>
                                    <p>{{post.postMessage}}</p>
                                    <div class="row text-center mt-5"><i class="col-4 text-danger fas fa-heart"><span>32</span></i><i class="col-4 text-success fas fa-comment-dots"><span>21</span></i><i class="col-4 text-info fas fa-eye"><span>15</span></i></div>
                                </div>
                            </div>

                            <!----------------See my posts-------------------------> 
                            <div class="row" id="my-posts">
                                <div class="col-12 post" v-for="post in posts">
                                    <h4>{{post.postTitle}}</h4>
                                    <div class="text-center mt-4 mb-3"><i v-if="post.authorPic == null" class="fas fa-user-circle" id="home-posts-icon"></i></div>
                                    <div class="text-center mt-4 mb-3"><img v-if="post.authorPic != null" v-bind:src="post.authorPic" id="home-posts-photo"></div>
                                    <p>{{post.postMessage}}</p>
                                    <div class="row text-center mt-5"><i class="col-4 text-danger fas fa-heart" onclick="added()"><span>32</span></i><i class="col-4 text-success fas fa-comment-dots"><span>21</span></i><i class="col-4 text-info fas fa-eye"><span>15</span></i></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn-close-popUp"><i class="far fa-times-circle"></i></a>
                    </div>
                
                
                <!-----Sign Out modal-------->
                <div id="modal-sign-out2" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title">Sign Out</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you would like to sign out?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        <button id="yes" type="button" class="btn btn-success">Yes</button>
                        </div>
                    </div>
                    </div>
                </div>

                <!-------------------------Warning modal to login and see the game chat--------------------------->
                <div v-if="userLogged == null" id="modal-warning" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <p>To see the game chats please login</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        <a href="index.html"><button id="ok" type="button" class="btn btn-success">Ok</button></a>
                        </div>
                    </div>
                    </div>
                </div>
               
               <!--------------------------------------------------------------------Page 4----------------------------------------------------------------------------->
                <div id="page-4" class="page">
                    <div class="row align-items-start mb-5">
                        <div class="col-sm-12 col-md mt-5">
                            <h2>Contact</h2>
                            <p class="text-left">Please email us at: <br><i class="far fa-envelope"></i><a id="mail" href="mailto:nysl@chisoccer.org"><strong> nysl@chisoccer.org</strong></a> <br> We reply to your email<br> as soon
                                as we can. </p>
                        </div>
                        <div class="col-sm-12 col-md mt-5">
                            <h2>Newsletter</h2>
                            <p class="text-left">Stay update with our latest</p>
                            <div class="form-element mb-3">
                                <input type="text" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md mt-5">
                            <h2>Instagram</h2>
                            <div class="col ml-n3">
                                <img class="pic" src="img/1.jpg" alt="insta1">
                                <img class="pic" src="img/2.jpg" alt="insta2">
                                <img class="pic" src="img/3.jpg" alt="insta3">
                            </div>
                            <div class="col ml-n3">
                                <img class="pic" src="img/7.jpg" alt="insta4">
                                <img class="pic" src="img/8.jpg" alt="insta5">
                                <img class="pic" src="img/9.jpg" alt="insta6">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md mt-5">
                            <h2>Follow us</h2>
                            <p>Let us be Social</p>
                            <div class="icons">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-youtube"></i>
                            </div>
                        </div>
                        <div class="col-sm-2 d-sm-inline col-md mt-5" id="row">
                            <a href="#page-0"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
                        </div>
                        <div class="col-12 mt-5 ml-n5" id="foot">
                            <p>Copyright ©2020 All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
        <!-- Backstretch JS --> 
        <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
        <script src="js/jquery.backstretch.js"></script> 
        
        <script> 
            $.backstretch([ 
            "img/1.jpg", 
            "img/2.jpg", 
            "img/3.jpg",
            "img/4.jpg",
            "img/5.jpg" //NOTE: The last element has NO comma 
            ], { 
                fade: 350,  //Speed of Fade 
                duration: 4000  //Time of image display 
                }); 
        </script>
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>   
        <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
        <!--------------------Vue.js------------------------->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/main.js"></script>
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>

